.title {
    text-align: center;
    background: aliceblue;
    color: white;
}

* {
    --bg: darkslategrey;
    --header: navajowhite;
}

body {
    background: var(--bg, darkslategrey);
    margin: 0;
}

h1 {
    text-align: center;
    color: var(--bg, darkslategrey);
    font-size: xxx-large;
    margin: 2px;
}

.header {
    background: var(--header, navajowhite);
    padding: 10px;;
}

.socials {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
}

.logo {
    width: 32px;
    height: auto;
}

.project-link {
    margin-left: 20px;
}

.projects {
    color: var(--header, navajowhite);
    border-width: 2px;
    border-style: inset;
    border-color: var(--header, navajowhite);
}

.project-title {
    margin-left: 10px;
    margin-bottom: 0;
}

.project-text {
    margin-top: 0;
    margin-left: 10px;
    color: white;
    text-indent: 30px;
}

.project-contributions {
    font-size: large;
}

.project-role {
    margin-left: 40px;
    margin-bottom: 0;
}

li {
    font-size: small;
}

li:last-child::after {
    content: "Source code in the github link below";
}

li:last-child::marker {
    content: "🔽";
}

.project-contributions > li {
    margin-left: 20px;
}
