body {
    --night: #080E07;
    --purple: #631A86;
    --grey: #8D909B;
    --iceblue: #A7FFF6;
    --yellow: #F8F991;
    --title: #FF4DCC;
    --overshoot: linear(0, 0.428 7.6%, 0.754 15.6%, 0.986 24.2%, 1.069 28.8%, 1.129 33.6%, 1.161 37.5%, 1.181 41.6%, 1.189 46%, 1.185 50.7%, 1.155 59.3%, 1.028 83.9%, 1.006 91.8%, 1);
}